newnids.*
Makefile
Makefile.in
test/Makefile.in
test/Makefile
test/tests.err
core
*/core
*.o
*.lo
*.la
.deps
.libs
tags
aclocal.m4
autom4te.cache/
config.guess
config.h
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
*.swp
